

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/
build/
.out/

# Environment files
.env
.env.*.local

# Local config
*.local

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: OS / misc
Thumbs.db
ehthumbs.db
